[Unit]
Description=Renew Certbot certificate (nginx)
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/systemctl stop nginx
ExecStart=/usr/bin/certbot renew --standalone --keep-until-expiring
ExecStartPost=/usr/bin/systemctl --no-block start nginx
