[Unit]
Description=Renew Certbot certificate (nginx)

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=86400

[Install]
WantedBy=multi-user.target
